:root {
  --color-text: rgb(255, 255, 255);
  --color-primary: #21b87b;
  --color-danger: #ff5858;
  --color-page-background: rgb(102 162 240 / 24%);
  --default-shadow: drop-shadow(#00000050 2px 5px 6px);
}
